# REDIS
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=

# AUTH
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# DB
DATABASE_URL=

# OAUTH
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GROQ AI
GROQ_API_KEY=

# Needed to enable rate limiting
UPSTASH_REDIS_REST_URL="upstash-url"
UPSTASH_REDIS_REST_TOKEN="upstash-token"